<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/gaedbdoficial</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.password"></property>
		<property name="show_sql">true</property>
		
		<!-- create-drop,create,update --> 
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<mapping class="edu.gaed.vo.Aluno" />
		<mapping class="edu.gaed.vo.Anexo" />
		<mapping class="edu.gaed.vo.Bairro" />
		<mapping class="edu.gaed.vo.Bimestre" />
		<mapping class="edu.gaed.vo.Boletim" />
		<mapping class="edu.gaed.vo.BoletimAlunoDisciplina" />
		<mapping class="edu.gaed.vo.BoletimAlunoDisciplinaID" />
		<mapping class="edu.gaed.vo.Disciplina" />
		<mapping class="edu.gaed.vo.Foto" />
		<mapping class="edu.gaed.vo.Gestor" />
		<mapping class="edu.gaed.vo.Imagem" />
		<mapping class="edu.gaed.vo.Logradouro" />
		<mapping class="edu.gaed.vo.Municipio" />
		<mapping class="edu.gaed.vo.Ocorrencia" />
		<mapping class="edu.gaed.vo.Perfil" />
		<mapping class="edu.gaed.vo.Periodo" />
		<mapping class="edu.gaed.vo.Professor" />
		
		<mapping class="edu.gaed.vo.Responsavel" />
		<mapping class="edu.gaed.vo.Secretaria" />
		<mapping class="edu.gaed.vo.Serie" />
		<mapping class="edu.gaed.vo.Tarefa" />
		<mapping class="edu.gaed.vo.Turma" />
		<mapping class="edu.gaed.vo.UF" />
		<mapping class="edu.gaed.vo.Usuario" />
				
	</session-factory>
	
</hibernate-configuration>