@CHARSET "ISO-8859-1";

body{
	font-size: 12px !important;
	font-family: arial;
}

.dialogCadastrar{
	z-index: 40 !important;
	overflow: visible !important;
}
.ui-paginator-bottom { 
	text-align: left !important; 
}
 #formPrincipal{
 	padding-top: 15px !important;
 	font-family: arial;
 	font-size: 12px;
 }
 
.formCadastrar .ui-widget-content .ui-panelgrid-cell {
    border: none !important;
    overflow: hidden !important;
 }
.formAlterar .ui-widget-content .ui-panelgrid-cell {
    border: none !important;
    overflow: hidden !important;
 } 
 .formCadastrar{
 	font-size: 13px!important;
 }
 
 .ui-panelgrid{
 border-collapse: inherit;
 }

#formCad{ 
 	height: 610px !important;
  	width: 1291px !important;
  	position: fixed;
}
#formCadFoto{
	height: 300px !important;
  	width: 600px !important;
  	position: fixed;
}

#formAlt{
	height: 610px !important;
  	width: 1291px !important;
  	position: fixed;
}
#botoes{
	text-align: center !important;
	padding-top: 50px;
}
#dadosPessoais{
	top:10px;
}
#DivAluno{
	overflow: hidden !important;
}

#Lista {
  display: inline-block !important;
  width: 1060px !important;
  text-align: center;
  margin-top: 55px !important;
}
#tabelaAluno{
	border-style: none !important;
}

#fieldFoto{
 	width: 50px !important;
 	height: 70px !important;
 		
}

#dadosLogin{
	padding-left: 50px !important;
	left: 30% !important;
	position: absolute;
	top: 20%;
}
#panelCadastrar{
	top: 80px !important;
	padding-top: 80px !important;
	margin-left: 80px;
}







