body{
	font-size: 13px !important;
}

h2{
	font-style: normal;
	font-family: arial;
	text-align: left;
	margin-left: 150px;
	top: 20px;
	position: absolute;
}
#cabecalho{
	background-color: #6aa6e8!important;
	position: absolute;
	top: 1px;
	width: 100%;
	height: 90px;
}
#foto{
	text-align: right;
	
}
#label{
	text-align: justify;	
}
.login{
	border:none;
}

.gridLogin{
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-70px;
		margin-top:-40px;
}
.gridCabecalho{
	font-family: sans-serif;
	text-align: center;
}
#fieldset{
	font-size: 10px !important;
	width: 200px !important;
	height: 90px !important;
	top: 10px !important;
	position: absolute;
	right: 160px;
	
}
#logo{
	width: 80px;
	size:200px;
	height: 50px;
	left: 150px;
	top: 10px;
	position:absolute;
}
.logoGaed{
	height: 70px !important;
	width: 220px !important;
}
.logoLogin{
	height: 60px !important;
	width: 200px !important;
}
#logoGaedLogin{
	margin-left: 290px !important;
	margin-top: 250px !important;
}
.gridRodape{
	font-family: sans-serif;
	text-align: center;
	font-size: 10px;
	border-style: none;
}
.gridCentral{
	border-style: none !important;
}
.gridCabecalhoLogin{
	border-style: none !important;
	text-align: center !important;
}
.menu{
	position:absolute;
	top:93px;
	left: 150px;
}

.ui-layout-north { 
z-index: 40 !important; 
overflow: visible !important; 
} 

.dialogCadastrar{
z-index: 999 !important; 
overflow: visible !important; 	
}


.ui-layout-north .ui-layout-unit-content {
	z-index: 60 !important;
	overflow: visible!important; 
} 

.gridMenu{
		position:absolute;
		left:60%;
		top:10%;
		margin-left:-550px;
		margin-top:-30px;
		border-style: none;
		height: 100px !important;
}

.gridHome{
	position:absolute;
		left:45%;
		top:50%;
		margin-left:-350px;
		margin-top:50px;
}
.calendario{
	height:50% !important;
	width:25% !important;
	position: absolute !important;
	top: 56% !important;
	font-size: 14 !important;
	border-style: none !important;
	left: 11% !important;
}

.notificacoes{
	height:50% !important;
	width:25% !important;
	position: absolute !important;
	top: 30px !important;
	font-size: 14 !important;
	border-style: none !important;
	left: 55% !important;
}

.centroHome{
	border-style: none !important;
	text-align: center !important;
}
.noticiasCursos{
	height:50% !important;
	width:53% !important;
	position: absolute !important;
	left: 31% !important;
	border-style: none !important;
	top:56% !important;
}
.fotosEscola{
	position:absolute;
	left: 11% !important;
	top:30px !important;
	width:510px !important;
	height:50% !important;
	border-style: none !important;
}
	
#conteudoCentro{
  width: 100%;
}




