@CHARSET "ISO-8859-1";

body{
	font-size: 12px !important;
	font-family: arial;
}

.dialogCadastrar{
	z-index: 40 !important;
	overflow: visible !important;
}

.ui-paginator-bottom { 
	text-align: left !important; 
}
 #formPrincipal{
 	padding-top: 15px !important;
 }
