body{
	font-size: 13px !important;
}

h2{
	font-style: normal;
	font-family: arial;
	text-align: left;
	margin-left: 150px;
}
.login{
	border:none;
}

.gridLogin{
		position:absolute;
		left:45%;
		top:50%;
		margin-left:-110px;
		margin-top:-40px;
}
.gridCabecalho{
	font-family: sans-serif;
	text-align: center;
}
#fieldsetCabecalho{
	font-size: 10px !important;
	
}
.gridRodape{
	font-family: sans-serif;
	text-align: center;
	font-size: 10px;
	border-style: none;
}
.gridCentral{
}
.menu{
	position:absolute;
	top:80px;
	left: 150px;
}

.ui-layout-north { 
z-index: 40 !important; 
overflow: visible !important; 
} 

.dialogCadastrar{
z-index: 999 !important; 
overflow: visible !important; 	
}


.ui-layout-north .ui-layout-unit-content {
	z-index: 60 !important;
	overflow: visible!important; 
} 

.gridMenu{
		position:absolute;
		left:60%;
		top:10%;
		margin-left:-550px;
		margin-top:-30px;
		border-style: none;
		height: 100px !important;
}

.gridHome{
	position:absolute;
		left:45%;
		top:50%;
		margin-left:-350px;
		margin-top:50px;
}
.calendario{
	height:50% !important;
	width:25% !important;
	position: absolute !important;
	top: 48% !important;
	font-size: 14 !important;
	border-style: none !important;
}

.centroHome{
	border-style: none !important;
	text-align: center !important;
}
.noticiasUol{
	height:390px !important;
	width:180px !important;
	right: 5px !important;
	border-style: none !important;
}
.noticiasCursos{
	height:50% !important;
	width:47% !important;
	position: absolute !important;
	left: 27% !important;
	border-style: none !important;
}
.fotosEscola{
	height:43% !important;
	width:74% !important;
	left: 0% !important;
	top:2% !important;
}
	
#conteudoCentro{
  width: 100%;
}




